body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
}

h1 {
    color: rgb(0, 109, 0);
    font-size: 2rem;
    text-align: center;
}

table {
    width: 70%;
    border-collapse: collapse;
    background: #fff;
}

th,
td {
    border: 2px solid #898787;
    text-align: center;
    padding: 5px;
}

.result {
    margin-top: 10px;
    padding: 10px;
    background: #d4edda;
    font-weight: bold;
}