body{
  /* background-color: black; */
}
.number{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-top: 250px; */
}

.number h2{
  background-color: black;
  color: white;
  padding: 12px 30px;
  border: 2px solid white;
  border-radius: 20px;
}

.number button:first-child{
  padding: 12px 14px;
  margin: 5px;
  background-color: aqua;
  border: 2px solid white;
  border-radius: 10px;
}
.number button:last-child{
  padding: 12px 14px;
  margin: 5px;
  background-color: rgb(25, 42, 42);
  border: 2px solid white;
  border-radius: 10px;
  color: white;
}